<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/component/update}"  th:object="${component}"  method="post">

    <table>
        <tr>
            <th th:text="#{componentId}">id</th>
            <th th:text="#{componentName}">name</th>
            <th th:text="#{componentCount}">count</th>
            <th th:text="#{componentPrimary}">primary</th>
        </tr>
        <tr>
            <!--<td><input type="hidden" th:field="*{id}" th:value="${component.id}" /></td>-->
            <td  th:text="${component.id}"></td>
            <td><input type="text" th:field="*{name}" th:value="${component.name}" /></td>
            <td><input type="text" th:field="*{count}" th:value="${component.count}" /></td>
            <td><input type="checkbox" th:field="*{need}" /></td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}" th:value="${component.id}" />
    <div>
        <input type="submit" value="Update" name="button"/>
    </div>
</form>
</body>
</html>