<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/component/update}"  th:object="${component}"  method="post">

    <table>
        <tr>
            <!--<th>id</th>-->
            <th>name</th>
            <th>manufacturer</th>
            <th>count</th>
            <th>primary</th>
        </tr>
        <tr>
            <!--<td><input type="hidden" th:field="*{id}" th:value="${component.id}" /></td>-->
            <td><input type="text" th:field="*{name}" th:value="${component.name}" /></td>
            <td><input type="text" th:field="*{manufacturer}" th:value="${component.manufacturer}" /></td>
            <td><input type="text" th:field="*{count}" th:value="${component.count}" /></td><
            <td><input type="text" th:field="*{primary}" th:value="${component.primary}" /></td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}" th:value="${component.id}" />
    <div>
        <input type="submit" value="Update" name="button"/>
    </div>
</form>
</body>
</html>