<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello =)
    <form action="#" th:action="@{/component/search}"  method="post">
        <table>
            <tr>
                <td><input type="text" id="name" name="name" th:placeholder="name" /></td>
                <td><input type="submit" value="Search" name="button"/></td>
            </tr>

        </table>
    </form>
    <form th:action="@{/}" method="get">
    <table>
        <tr th:if="${searching} != null">
            <td><p>Search: <span th:text="*{searching}">searching</span>.</p></td>
            <td><button class="btn btn-md btn-warning btn-block" type="Submit">reset</button></td>
        </tr>
    </table>
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>manufacturer</th>
            <th>count</th>
            <th>primary</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr th:each="componentItem : ${components}">
            <td th:text="${componentItem.id}"></td>
            <td th:text="${componentItem.name}"></td>
            <td th:text="${componentItem.manufacturer}"></td>
            <td th:text="${componentItem.count}"></td>
            <td th:text="${componentItem.primary}"></td>
            <td><a th:href="@{/component/edit/{id}(id=${componentItem.id})}">edit</a></td>
            <td><a th:href="@{/component/delete/{id}(id=${componentItem.id})}">delete</a></td>
            <!--<td>-->
                <!--<form action="#" th:action="@{/component/edit/{id}(id=${componentItem.id})}}"  method="post">-->
                    <!--<button class="btn btn-md btn-warning btn-block" type="edit">edit</button>-->
                <!--</form>-->
            <!--</td>-->
            <!--<td>-->
                <!--<form action="#" th:action="@{/component/delete/{id}(id=${componentItem.id})}}"  method="post">-->
                    <!--<button class="btn btn-md btn-warning btn-block" type="edit">delete</button>-->
                <!--</form>-->
            <!--</td>-->
        </tr>
    </table>
</body>
</html>